HTTP_BIND_ADDRESS=127.0.0.1:3000
SSH_BIND_ADDRESS=0.0.0.0:22
BASE_URL=https://rubhub.net
SSH_PUBLIC_HOST=rubhub.net
REUSE_PORT=true
DIR_ROOT=/var/lib/rubhub/
SITE_CONTENT=Contact:ben/rubhub-net/contact.md
INDEX_CONTENT=~ben/rubhub-net/index.md
FEATURED_PROJECTS=~ben/rubhub,~ben/nujel
CSRF_SECRET=PleaseChangeThisSecret