<div class="clone-url-wrap">
  <div class="clone-url btn-group">
    <input
      name="cloneUrl"
      type="text"
      readonly
      value="{{ ssh_clone_url }}"
      />
    <button
      class="copy-button"
      type="button"
      title="Copy to clipboard"
      copy-value="{{ ssh_clone_url }}"
      >
      <span class="icon i-clipboard-copy"></span>
    </button>
  </div>

  <div class="clone-url btn-group">
    <input
      name="cloneUrl"
      type="text"
      readonly
      value="{{ http_clone_url }}"
      />
    <button
      class="copy-button"
      type="button"
      title="Copy to clipboard"
      copy-value="{{ http_clone_url }}"
      >
      <span class="icon i-clipboard-copy"></span>
    </button>
  </div>
</div>
