<div class="repo-bar">
  {% if summary.branches.len() > 0 %}
  <select name="branch-name" class="branch-switcher" data-main-branch="{{ project.main_branch }}" data-base-href="{{ project.uri() }}">
    {% for branch in summary.branches %}
    <option value="{{ branch }}" {% if branch==selected_branch.as_str() %}selected{% endif %}>{{ branch
      }}</option>
    {% endfor %}
  </select>
  {% else %}
  <select name="branch-name" disabled>
    <option selected>Empty Repo</option>
  </select>
  {% endif %}

  <span class="repo-branches">
    <a href="{{ project.uri_branches() }}">
      <span class="icon i-git-branch"></span> {{ summary.branches.len() }} branch{% if summary.branches.len() != 1
      %}es{% endif %}
    </a>
  </span>

  <span class="repo-tags">
    <a href="{{ project.uri_tags() }}">
      <span class="icon i-tag"></span> {{ summary.tags.len() }} tag{% if summary.tags.len() != 1 %}s{% endif %}
    </a>
  </span>

  <div class="flex-gap"> </div>

  {% include "partials/project_clone_url.html" %}
</div>
