<header id="mobile-header">
  <button class="show-navigation" type="button">
    <span class="icon i-menu"></span>
  </button>
  <a href="/" class="logo" title="RubHub"><img src="/public/logo.svg" alt="RubHub" /></a>

  <div class="flex-gap"> </div>

  <div class="actions">
    {% if let Some(user) = logged_in_user %}
    <a href="/~{{ user.slug }}" class="username-link">{{ user.slug }}</a>
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-outline">Logout</button>
    </form>
    {% else %}
    <a href="/login" class="btn">Login</a>
    {% endif %}
  </div>
</header>

<aside id="sidebar">
  <div id="sidebar-top">
    <a href="/" class="logo" title="RubHub"><img src="/public/logo.svg" alt="RubHub" /></a>
  </div>

  {% if let Some(user) = logged_in_user %}
  <a href="/projects" class="nav-btn" id="browse-link">Browse</a>

    <div class="nav-section-header">
      <a href="/~{{ user.slug }}" class="nav-section-heading">Projects</a>
      <a href="/projects/new" class="nav-section-action" title="New Project"><span class="icon i-plus"></span></a>
    </div>
    {% if !sidebar_projects.is_empty() %}
    {% for project in sidebar_projects %}
    <div class="nav-project-item">
      <a href="{{ project.uri() }}" class="nav-btn-secondary">{{ project.name }}</a>
      <a href="{{ project.uri_settings() }}" class="nav-project-settings" title="{{ project.name }} Settings"><span class="icon i-settings"></span></a>
    </div>
    {% endfor %}
    {% endif %}

  {% else %}
    <a href="/projects" class="nav-btn" id="browse-link">Browse</a>
  {% endif %}

  <div class="flex-gap"></div>

  {% if !content_pages.is_empty() %}
    {% for page in content_pages %}
  <a href="{{ page.url_path() }}" class="nav-btn">{{ page.title }}</a>
    {% endfor %}
  {% endif %}
  <div class="actions">
    {% if let Some(user) = logged_in_user %}
    <a href="/~{{ user.slug }}" class="username-link">{{ user.slug }}</a>
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-outline"><span class="icon i-log-out"></span> Logout</button>
    </form>
    {% else %}
    <a href="/login" class="btn"><span class="icon i-log-in"></span> Login</a>
    {% endif %}
  </div>
</aside>
