.clone-url-wrapper {
	display: flex;
	gap: 0.25rem;
	align-items: stretch;
}

.clone-url {
	flex: 1;
	display: inline-flex;
	position: relative;
}

.clone-url input {
	flex: 1;
	margin: 0;
	width: auto;
}

@media screen and (max-width: 700px) {
	.clone-url-wrapper {
		flex-direction: column;
		gap: 0.25rem;
	}

	.clone-url input {
		border-radius: var(--space-s) 0 0 var(--space-s);
	}

	.clone-url button {
		border-radius: 0 var(--space-s) var(--space-s) 0;
	}
}
