.project-tabs {
	display: flex;
	gap: 0;
	border-bottom: 2px solid var(--background-color);
}

.project-tabs .tab {
	display: flex;
	gap: var(--space-m);
	padding: var(--space-m) var(--space-l);
	text-decoration: none;
	color: var(--text-color);
	opacity: 0.7;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
	transition:
		opacity 200ms,
		border-color 200ms;
}

.project-tabs + .card {
	border-radius: 0 var(--space-m) var(--space-m) var(--space-m);
}

.project-tabs .tab:hover {
	opacity: 1;
}

.project-tabs .tab.active {
	opacity: 1;
	background: var(--background-color-bright);
	border-radius: var(--space-m) var(--space-m) 0 0;
}

.project-tabs .tab.disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

.page-header {
	margin-bottom: var(--space-l);
}

.project-header {
	color: var(--text-color);
	font-size: 1.6rem;
	margin-bottom: 0;
}

.project-header a {
	text-decoration: none;
	color: var(--text-color);
}

.project-header a:last-of-type {
	color: var(--primary-color);
}

.repo-bar {
	display: flex;
	gap: var(--space-m);
	align-content: center;
	padding: var(--space-m) 0;
}

.repo-bar > select {
	width: auto;
	margin-bottom: 0;
	max-width: 120px;
}

.repo-bar > * {
	align-content: center;
}

@media screen and (max-width: 700px) {
	.repo-bar {
		display: grid;
		grid-template-columns: auto 1fr auto auto;
		grid-template-rows: auto auto;
		gap: var(--space-m) var(--space-m);
		align-items: center;
		margin-bottom: var(--space-l);
	}

	.repo-bar .branch-switcher {
		grid-column: 1;
		grid-row: 1;
	}

	.repo-bar .repo-branches {
		grid-column: 3;
		grid-row: 1;
		font-size: 0.85rem;
	}

	.repo-bar .repo-tags {
		grid-column: 4;
		grid-row: 1;
		font-size: 0.85rem;
	}

	.repo-bar .flex-gap {
		display: none;
	}

	.repo-bar .clone-url-wrapper {
		grid-column: 1 / -1;
		grid-row: 2;
	}

	.project-tabs .tab-label {
		display: none;
	}
}
