.clone-url-wrap {
	display: flex;
	gap: 0.25rem;
	align-items: stretch;
}

.clone-url {
	flex: 1;
	display: inline-flex;
	position: relative;
}

.clone-url input {
	flex: 1;
	margin: 0;
	width: auto;
}

@media screen and (max-width: 1280px) {
	.clone-url-wrap {
		flex-direction: column;
		gap: 0.25rem;
	}
}
