:root {
	--max-content-width: 1200px;
	--space-xs: 0.125rem;
	--space-s: 0.25rem;
	--space-m: 0.5rem;
	--space-l: 1rem;
	--space-xl: 2rem;

	--background-color-bright: #fff;
	--background-color: #eaf6ff;
	--text-color: #232528;
	--text-color-subdued: #606468;

	--sidebar-width: 220px;
	--sidebar-collapsed-width: 48px;

	--white: #eaf6ff;
	--black: #232528;

	--primary-color: #3d4bfc;
	--secondary-color: #bf8314;
	--error-color: #9b120c;
	--success-color: #21843c;

	--body-font: system-ui, sans-serif;
	--code-font:
		ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	--header-font:
		Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #eaf6ff;
		--text-color-subdued: #a0a8b0;
		--background-color: #232528;
		--background-color-bright: #121416;

		--primary-color: #3d4bfc;
		--secondary-color: #bf8314;
		--error-color: #9b120c;
		--success-color: #21843c;
	}

	* {
		color-scheme: dark;
	}
}
