<!DOCTYPE html>
<html>
<head>
    <title>RubHub</title>
    <link rel="canonical" href="https://rubhub.net">
</head>

<body>
    <section>
        <div>
            <div class="card-grid">
                <div class="card">
                    You can reach me via E-Mail at <a href="mailto:bennyschulenburg@gmx.de">bennyschulenburg@gmx.de</a>, although I don't check my mail that often, so it's probably better to reach me via Discord where my username is <b>melchizedek6809</b><div class=""></div><br/>
                    <br/>
                    There is also a <a href="https://discord.gg/fYC54Cke">Discord</a> server for general discussion about this project and other technical topics.
                </div>
            </div>
        </div>
    </section>
</body>

</html>
