<!DOCTYPE html>
<html>
<head>
    <title>RubHub</title>
    <link rel="canonical" href="https://rubhub.net">
</head>

<body>
    <section>
        <div>
            <br/>
            <div class="card-grid">
                <div class="card">
                    Welcome to RubHub, this is a new experimental Git forge that grew out of me experimenting around with Rust WebDev.<br/>
                    <br/>
                    Don't expect things to work reliably just yet, this is a test so that I can try out the deployment workflow and how to run Rust WebApps in production.
                </div>
            </div>
            <br/>
            <br/>
            <h2>Featured projects</h2>
            {% if featured.len() == 0 %}
                <p>No projects yet.</p>
            {% else %}
                <div class="card-grid">
                    {% for project in featured %}
                        {% include "project_card.html" %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</body>

</html>
