<html>
  <head>
    <title>RubHub</title>
  </head>

  <body>
    {% include "partials/sidebar.html" %}
    <main>
      <section>
        <div>
          <br/>
          <div class="card-grid">
            <div class="card">
              <div class="markdown">{{- index_content|safe -}}</div>
            </div>
          </div>
          <br/>
          <br/>
          <h2>Featured projects</h2>
          {% if featured.len() == 0 %}
          <p>No projects yet.</p>
          {% else %}
          <div class="card-grid">
            {% for project in featured %}
            {% include "partials/project_card.html" %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </section>
    </main>
  </body>

</html>
