<!DOCTYPE html>
<html>

  <head>
    <title>{{ owner.name }}/{{ project.name }}</title>
  </head>

  <body>
    {% include "sidebar.html" %}
    <main>
      <section>
        <div class="page-header">
          <h1 class="project-header">
            <a href="{{ owner.uri() }}">{{ owner.name }}</a> /
            <a href="{{ project.uri() }}">{{ project.name }}</a>
          </h1>
          {% if access_level == AccessType::Admin %}
          <a class="btn" href="{{ project.uri_settings() }}">Edit project</a>
          {% endif %}
        </div>

        <div class="card">
          {% include "repo_bar.html" %}

          {% if let Some(info) = info %}
          <div class="commit-bar">
            {% if let Some(commit) = info.commits.first() %}
              {% include "commit.html" %}
            {% endif %}
          </div>
          {% endif %}

          {% if let Some(readme_html) = readme_html %}
          <br/>
          <div class="markdown">{{- readme_html|safe -}}</div>
          {% endif %}
        </div>
      </section>
    </main>
  </body>

</html>
