<html>
  <head>
    <title>New project</title>
  </head>
  
  <body>
    {% include "partials/sidebar.html" %}
    <main>
      <section>
        <h1>Create a new project</h1>
        {% if let Some(msg) = message %}
        <div class="message" role="status">{{ msg }}</div>
        {% endif %}
        <form method="post" action="/projects/new" class="stack card simple-form">
          {{ csrf_token_field|safe }}
          <label>
            Name
            <input type="text" autofocus label="Project name" name="name" autocomplete="off"></input>
          </label>
          <label>
            Public access
            <select name="public_access">
              <option value="none">None</option>
              <option value="read" selected>Read</option>
              <option value="write">Write</option>
            </select>
          </label>
          <button type="submit">Create project</button>
        </form>
      </section>
    </main>
  </body>
</html>
