<!DOCTYPE html>
<html>

<head>
    <title>{{ owner.name }}/{{ project.name }}/settings</title>
</head>

<body>
    <section>
        <div class="page-header">
            <h1 class="project-header"><a href="/{{ owner.slug }}">{{ owner.name }}</a> /
                <a href="/{{ owner.slug }}/{{ project.slug }}">{{ project.name }}</a> /
            <a href="/{{ owner.slug }}/{{ project.slug }}/settings">settings</a></h1>
        </div>
        {% if let Some(msg) = message %}
        <div class="message" role="status">{{ msg }}</div>
        {% endif %}
        <form method="post" action="/{{ owner.slug }}/{{ project.slug }}/settings" class="stack card simple-form">
            <label>
                ID (used in URIs, can't be changed)
                <input name="slug" type="text" value="{{ project.slug }}" readonly>
            </label>

            <label>
                Name
                <input name="name" type="text" value="{{ project.name }}">
            </label>

            <label>
                Public access
                <select name="public_access">
                    <option value="none" {% if project.public_access==AccessType::None %}selected{% endif %}>None
                    </option>
                    <option value="read" {% if project.public_access==AccessType::Read %}selected{% endif %}>Read
                    </option>
                    <option value="write" {% if project.public_access==AccessType::Write %}selected{% endif %}>Write
                    </option>
                </select>
            </label>

            <label>
                Default branch name (main / master)
                <input name="main_branch" type="text" value="{{ project.main_branch }}">
            </label>

            <label>
                Website
                <input name="website" type="text" value="{{ project.website }}">
            </label>

            <label>
                Description
                <textarea name="description">{{ project.description }}</textarea>
            </label>

            <div class="actions">
                <button type="submit">Save</button>
            </div>
        </form>
    </section>
</body>

</html>