<!DOCTYPE html>
<html>

<head>
    <title>{{ owner.name }}/{{ project.name }}</title>
</head>

<body>
    <section>
        <div class="page-header">
            <h1 class="project-header"><a href="/{{ owner.slug }}">{{ owner.name }}</a> / <a
                    href="/{{ owner.slug }}/{{ project.slug }}">{{ project.name }}</a></h1>
            {% if access_level == AccessType::Admin %}
            <a class="btn" href="/{{ owner.slug }}/{{ project.slug }}/settings">Edit project</a>
            {% endif %}
        </div>

        <div class="card">
            <div class="repo-bar">
                {% if summary.branches.len() > 0 %}
                <select name="branch-name">
                    {% for branch in summary.branches %}
                    <option value="{{ branch }}" {% if branch==selected_branch.as_str() %}selected{% endif %}>{{ branch
                        }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <select name="branch-name" disabled>
                    <option selected>Empty Repo</option>
                </select>
                {% endif %}

                <span class="repo-branches">{{ summary.branches.len() }} Branch{% if summary.branches.len() != 1
                    %}es{% endif %}</span>

                <span class="repo-tags">{{ summary.tags.len() }} Tag{% if summary.tags.len() != 1
                    %}s{% endif %}</span>

                <div class="flex-gap"> </div>

                <rubhub-clone-url value="{{ ssh_clone_url }}"></rubhub-clone-url>
            </div>

            {% if let Some(info) = info %}
            <div class="commit-bar">
                <span class="commit-author" title="{{ info.commit_author }}">{{ info.commit_author }}</span>
                <span class="commit-message" title="{{ info.commit_message }}">{{ info.commit_message }}</span>
                <span class="commit-id">{{ info.commit_id }}</span>
                <span class="commit-time">{{ info.relative_time() }}</span>
                <a href="/{{ owner.slug }}/{{ project.slug }}/commits/{{ selected_branch }}" class="commit-count">{{ info.commit_count }} Commit{% if info.commit_count != 1 %}s{% endif %}</a>
            </div>
            {% endif %}

            {% if let Some(readme_html) = readme_html %}
            <br/>
            <div class="markdown">{{- readme_html|safe -}}</div>
            {% endif %}
        </div>
    </section>
</body>

</html>
