<div class="repo-stats">
  {% if let Some(info) = info %}
  <span class="repo-commits">
    <a href="{{ project.uri_log(selected_branch, 0) }}" class="commit-count">
      ⟲ {{ info.commit_count }} commit{% if info.commit_count != 1 %}s{% endif %}
    </a>
  </span>
  {% endif %}

  <span class="repo-branches">
    <a href="{{ project.uri_branches() }}">
      ⎇ {{ summary.branches.len() }} branch{% if summary.branches.len() != 1
      %}es{% endif %}
    </a>
  </span>

  <span class="repo-tags">
    <a href="{{ project.uri_tags() }}">
      🏷︎ {{ summary.tags.len() }} tag{% if summary.tags.len() != 1 %}s{% endif %}
    </a>
  </span>
</div>
<div class="repo-bar">
  {% if summary.branches.len() > 0 %}
  <select name="branch-name" class="branch-switcher" data-main-branch="{{ project.main_branch }}" data-base-href="{{ project.uri() }}">
    {% for branch in summary.branches %}
    <option value="{{ branch }}" {% if branch==selected_branch.as_str() %}selected{% endif %}>{{ branch
      }}</option>
    {% endfor %}
  </select>
  {% else %}
  <select name="branch-name" disabled>
    <option selected>Empty Repo</option>
  </select>
  {% endif %}

  <div class="flex-gap"> </div>

  <rubhub-clone-url value="{{ ssh_clone_url }}"></rubhub-clone-url>
</div>
