<header id="mobile-header">
  <button class="show-navigation">
    <div class="icon hamburger">
      <div class="hamburger-top"></div>
      <div class="hamburger-mid"></div>
      <div class="hamburger-bot"></div>
    </div>
  </button>
  <a href="/" class="logo">RubHub</a>

  <div class="flex-gap"> </div>

  <div class="actions">
    {% if let Some(user) = logged_in_user %}
    <a href="/~{{ user.slug }}" class="username-link">{{ user.slug }}</a>
    <a href="/logout" class="btn btn-outline">Logout</a>
    {% else %}
    <a href="/login" class="btn">Login</a>
    {% endif %}
  </div>
</header>

<aside id="sidebar">
  <div id="sidebar-top">
    <a href="/" class="logo">RubHub</a>
    <div class="flex-gap"></div>
  </div>

  {% if let Some(user) = logged_in_user %}
  <a href="/~{{ user.slug }}" class="nav-btn" id="browse-link">Browse</a>

  {# User's projects #}
  {% if !sidebar_projects.is_empty() %}
    <div class="nav-section-header">
      <span class="nav-section-heading">Projects</span>
      <a href="/projects/new" class="nav-section-action" title="New Project">+</a>
    </div>
    {% for project in sidebar_projects %}
    <div class="nav-project-item">
      <a href="{{ project.uri() }}" class="nav-btn-secondary">{{ project.name }}</a>
      <a href="{{ project.uri_settings() }}" class="nav-project-settings" title="{{ project.name }} Settings">⚙</a>
    </div>
    {% endfor %}
  {% endif %}

  {% else %}
  <a href="/" class="nav-btn" id="browse-link">Browse</a>
  {% endif %}

  <div class="flex-gap"></div>

  {% if !content_pages.is_empty() %}
    {% for page in content_pages %}
  <a href="{{ page.url_path() }}" class="nav-btn">{{ page.title }}</a>
    {% endfor %}
  {% endif %}
  <div class="actions">
    {% if let Some(user) = logged_in_user %}
    <a href="/~{{ user.slug }}" class="username-link">{{ user.slug }}</a>
    <a href="/logout" class="btn btn-outline">Logout</a>
    {% else %}
    <a href="/login" class="btn">Login</a>
    {% endif %}
  </div>
</aside>
