<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <section>
        <h1>User settings</h1>
        {% match message %}
            {% when Some with (msg) %}
                <div class="message" role="status">{{ msg }}</div>
            {% when None %}
        {% endmatch %}
        <form method="post" action="/settings" class="stack card simple-form">
            <rubhub-slug-input label="Username" name="username" value="{{ username }}" autocomplete="username"></rubhub-slug-input>

            <label>
                Email
                <input name="email" type="email" value="{{ email }}">
            </label>

            <label>
                SSH public keys (one per line)
                <textarea name="ssh_keys" spellcheck="false">{% for key in ssh_keys %}{{ key }}
{% endfor %}</textarea>
            </label>
            <button type="submit">Save</button>
        </form>
    </section>
</body>
</html>
