<!DOCTYPE html>
<html>
<head>
    <title>{{ user.name }}/settings</title>
</head>
<body>
    <section>
        <div class="page-header">
            <h1 class="project-header"><a href="/{{ user.slug }}">{{ user.name }}</a> / <a
                    href="/{{ user.slug }}/settings">settings</a></h1>
        </div>

        {% match message %}
            {% when Some with (msg) %}
                <div class="message" role="status">{{ msg }}</div>
            {% when None %}
        {% endmatch %}
        <form method="post" action="/settings" class="stack card simple-form">
            <label>
                ID (used in URIs, can't be changed)
                <input name="slug" type="text" value="{{ user.slug }}" readonly>
            </label>

            <label>
                Name
                <input name="name" type="text" value="{{ user.name }}">
            </label>

            <label>
                Email
                <input name="email" type="email" value="{{ user.email }}">
            </label>

            <br/>
            <hr/>
            <br/>

            <label>
                Pronouns
                <input name="pronouns" type="text" value="{{ user.pronouns }}">
            </label>

            <label>
                Organization
                <input name="organization" type="text" value="{{ user.organization }}">
            </label>

            <label>
                Location
                <input name="location" type="text" value="{{ user.location }}">
            </label>

            <label>
                Website
                <input name="website" type="text" value="{{ user.website }}">
            </label>

            <label>
                Bio
            <textarea name="description">{{ user.description }}</textarea>
            </label>

            <br/>
            <hr/>
            <br/>

            <label>
                Default branch name (main / master)
                <input name="default_main_branch" type="text" value="{{ user.default_main_branch }}">
            </label>

            <label>
                SSH public keys (one per line)
                <textarea name="ssh_keys" spellcheck="false">{% for key in ssh_keys %}{{ key }}
{% endfor %}</textarea>
            </label>
            <button type="submit">Save</button>
        </form>
    </section>
</body>
</html>
