<html>
  <head>
    <title>{{ owner.name }}/{{ project.name }}</title>
  </head>
  
  <body>
    {% include "partials/sidebar.html" %}
    <main>
      <section>
        <div class="page-header">
          <h1 class="project-header">
            <a href="{{ owner.uri() }}">{{ owner.name }}</a> /
            <a href="{{ project.uri() }}">{{ project.name }}</a> /
            <a href="{{ project.uri_log(selected_branch, 0) }}">log {{ selected_branch }}</a>
          </h1>
        </div>

        {% include "partials/project_tabs.html" %}

        <div class="card">
          {% include "./partials/repo_bar.html" %}

          {% if let Some(info) = info %}
          <div class="commit-bar">
            {% if info.commits.is_empty() %}
            <p>No commits available</p>
            {% else %}
            {% for commit in info.commits %}
            <div class="commit">
              {% if let Some(slug) = commit.author_user_slug %}
              <a href="/~{{ slug }}" class="commit-author" title="{{ commit.author }}">{{ commit.author }}</a>
              {% else %}
              <span class="commit-author" title="{{ commit.author }}">{{ commit.author }}</span>
              {% endif %}
              <span class="commit-message" title="{{ commit.message }}">{{ commit.message }}</span>
              <a href="{{ project.uri_tree(&commit.id, "") }}" class="commit-id">{{ commit.id }}</a>
              <time class="commit-time" datetime="{{ commit.rfc3339_time() }}">{{ commit.relative_time() }}</time>
            </div>
            {% endfor %}
            {% endif %}

            <nav class="pagination">
              <a href="{{ project.uri_log(selected_branch, 0) }}" class="start">⇤</a>
              {% if current_page > 0 %}
              <a href="{{ project.uri_log(selected_branch, current_page - 1) }}" class="prev">⇠</a>
              {% else %}
              <a href="{{ project.uri_log(selected_branch, 0) }}" class="prev disabled">⇠</a>
              {% endif %}

              {% for page in page_min..=page_max %}
              <a href="{{ project.uri_log(selected_branch, *page) }}" class="{% if page == current_page %}active{% endif %}">{{ page }}</a>
              {% endfor %}

              {% if current_page < page_count %}
                                   <a href="{{ project.uri_log(selected_branch, current_page + 1) }}" class="next">⇢</a>
                                   {% else %}
                                   <a href="{{ project.uri_log(selected_branch, *page_count) }}?page={{ page_count }}" class="next disabled">⇢</a>
                                   {% endif %}
                                   <a href="{{ project.uri_log(selected_branch, *page_count) }}" class="end">⇥</a>
            </nav>
          </div>
          {% endif %}
        </div>
      </section>
    </main>
  </body>

</html>
