<html>
  <head>
    <title>{{ user.name }}</title>
  </head>

  <body>
    {% include "partials/sidebar.html" %}
    <main>
      <section>
        <div class="page-header">
          <h1 class="project-header"><a href="{{ user.uri() }}">{{ user.name }}</a></h1>
          {% if is_owner %}
          <div class="actions">
            <a class="btn" href="/settings"><span class="icon i-settings"></span> Settings</a>
            <a class="btn success-button" href="/projects/new"><span class="icon i-plus"></span> New project</a>
          </div>
          {% endif %}
        </div>
        {% if projects.len() > 0 %}
        <div class="card-grid">
          {% for project in projects %}
          {% include "partials/project_card.html" %}
          {% endfor %}
        </div>
        {% else %}
        <h4>No projects yet</h4>
        {% endif %}
      </section>
    </main>
  </body>
</html>
