.page-header {
    margin-bottom: var(--space-l);
}

.project-header {
    color: var(--text-color);
    font-size: 1.6rem;
    margin-bottom: 0;
}

.project-header a {
    text-decoration: none;
}

.project-header a:first-of-type {
    color: var(--text-color);
}

.commit-bar {
    display: flex;
    gap: var(--space-m);
    align-content: center;
    padding: var(--space-m) 0;
}

.flex-gap,
.commit-message {
    flex: 1;
}

.commit-author {
    max-width: 16rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.repo-bar {
    display: flex;
    gap: var(--space-m);
    align-content: center;
    padding: var(--space-m) 0;
}

.repo-bar>select {
    width: auto;
    margin-bottom: 0;
}

.repo-bar>* {
    align-content: center;
}

.commit-message {
    color: var(--text-color-subdued);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.commit-id,
.commit-time {
    color: var(--text-color-subdued);
}