html {
	color: var(--text-color);
	background: var(--background-color);
	font-family: var(--body-font);
}

h1,
h2,
h3 {
	font-family: var(--header-font);
	font-size: 2.8rem;
	margin-bottom: var(--space-l);
}

h1 {
	font-size: 2.8rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4,
h5,
h6 {
	font-family: var(--body-font);
	margin-bottom: var(--space-m);
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1.25rem;
}

p {
	font-family: var(--body-font);
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: var(--space-l);
}

.muted {
	color: var(--text-color-muted);
	font-size: 0.95em;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
	margin-bottom: 0;
}

a {
	color: var(--primary-color);
}

ul,
ol {
	margin: 0 0 var(--space-xl);
	padding-left: 1.5rem;
	line-height: 1.5;
}

li {
	margin: 0 0 var(--space-l);
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: var(--space-l);
}

ul {
	list-style-type: disc;
	list-style-position: outside;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}

/* --- Numbering hierarchy for OLs --- */
ol {
	list-style-type: decimal;
	list-style-position: outside;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-roman;
}

ul li::marker,
ol li::marker {
	color: var(--text-color-subdued);
}

li > *:first-child {
	margin-top: 0;
}
li > *:last-child {
	margin-bottom: 0;
}
